In [1]:
!pip3 install mysql-connector

Collecting mysql-connector
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
    100% |████████████████████████████████| 11.9MB 62kB/s eta 0:00:011 9% |███                             | 1.1MB 2.6MB/s eta 0:00:05    36% |███████████▋                    | 4.3MB 10.9MB/s eta 0:00:01
Building wheels for collected packages: mysql-connector
  Running setup.py bdist_wheel for mysql-connector ... done
  Stored in directory: /home/niharika/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [5]:
import mysql.connector as mysql
try:
    db = mysql.connect(
        host = "localhost",
        user = "userdb",
        passwd = "123456@Abc"
    )

    print('connection successful') 
except ConnectionError:
    pass

connection success

In [6]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "userdb",
    passwd = "123456@Abc"
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("CREATE DATABASE Sales_DW")

In [7]:
cursor.execute("SHOW DATABASES")

## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present

## printing the list of databases
print(databases)

## showing one by one database
for database in databases:
    print(database)

[('information_schema',), ('MYBOOK',), ('Sales_DW',), ('db1',), ('db2',), ('etl',), ('metastore',), ('mybook',), ('mysql',), ('new_db',), ('performance_schema',), ('sqoopy',), ('sys',), ('testdb',)]
('information_schema',)
('MYBOOK',)
('Sales_DW',)
('db1',)
('db2',)
('etl',)
('metastore',)
('mybook',)
('mysql',)
('new_db',)
('performance_schema',)
('sqoopy',)
('sys',)
('testdb',)

In [8]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "userdb",
    passwd = "123456@Abc",
    database = "Sales_DW"
)
cursor = db.cursor()

In [10]:
cursor = db.cursor()
cursor.execute("CREATE TABLE DimCustomer (CustomerAltID varchar(10) not null PRIMARY KEY, \
CustomerName varchar(50), Gender varchar(20))")

In [11]:

#Inserting data into table
query = "INSERT INTO DimCustomer (CustomerAltID, CustomerName, Gender) VALUES (%s ,%s, %s)"

values = [
('IMI-001','Henry Ford','M'),
('IMI-002','Bill Gates','M'),
('IMI-003','Muskan Shaikh','F'),
('IMI-004','Richard Thrubin','M'),
('IMI-005','Emma Wattson','F')
]

In [ ]:
Create table DimProduct
(
ProductKey int primary key identity,
ProductAltKey varchar(10)not null,
ProductName varchar(100),
ProductActualCost money,
ProductSalesCost money

)

In [ ]:
cursor = db.cursor()

Insert into DimProduct(ProductAltKey,ProductName, ProductActualCost, ProductSalesCost)values
('ITM-001','Wheat Floor 1kg',5.50,6.50),
('ITM-002','Rice Grains 1kg',22.50,24),
('ITM-003','SunFlower Oil 1 ltr',42,43.5),
('ITM-004','Nirma Soap',18,20),
('ITM-005','Arial Washing Powder 1kg',135,139);

In [ ]:
Create table DimStores
(
StoreID int primary key identity,
StoreAltID varchar(10)not null,
StoreName varchar(100),
StoreLocation varchar(100),
City varchar(100),
State varchar(100),
Country varchar(100)
)

In [ ]:
Insert into DimStores(StoreAltID,StoreName,StoreLocation,City,State,Country )values
('LOC-A1','X-Mart','S.P. RingRoad','Ahmedabad','Guj','India'),
('LOC-A2','X-Mart','Maninagar','Ahmedabad','Guj','India'),
('LOC-A3','X-Mart','Sivranjani','Ahmedabad','Guj','India');

In [ ]:
Create table DimSalesPerson
(
SalesPersonID int primary key identity,
SalesPersonAltID varchar(10)not null,
SalesPersonName varchar(100),
StoreID int,
City varchar(100),
State varchar(100),
Country varchar(100)
)

In [ ]:
Insert into DimSalesPerson(SalesPersonAltID,SalesPersonName,StoreID,City,State,Country )values
('SP-DMSPR1','Ashish',1,'Ahmedabad','Guj','India'),
('SP-DMSPR2','Ketan',1,'Ahmedabad','Guj','India'),
('SP-DMNGR1','Srinivas',2,'Ahmedabad','Guj','India'),
('SP-DMNGR2','Saad',2,'Ahmedabad','Guj','India'),
('SP-DMSVR1','Jasmin',3,'Ahmedabad','Guj','India'),
('SP-DMSVR2','Jacob',3,'Ahmedabad','Guj','India');

In [ ]:
Create Table FactProductSales
(
TransactionId bigint primary key,
SalesInvoiceNumber int not null,
StoreAltID varchar(10) not null,
CustomerAltID varchar(10) not null,
ProductID varchar(255) not null,
SalesPersonAltID varchar(10) not null,
Quantity float,
SalesTotalCost double,
ProductActualCost double,
Deviation float
);

In [ ]:
-- Add relation between fact table foreign keys to Primary keys of Dimensions
AlTER TABLE FactProductSales ADD FOREIGN KEY (StoreAltID)REFERENCES DimStores(StoreAltID);
AlTER TABLE FactProductSales ADD FOREIGN KEY (CustomerAltID)REFERENCES Dimcustomer(CustomerAltID);
AlTER TABLE FactProductSales ADD FOREIGN KEY (ProductID)REFERENCES Dimproduct(ProductAltKey);
AlTER TABLE FactProductSales ADD FOREIGN KEY (SalesPersonAltID)REFERENCES DimSalesPerson(SalesPersonAltID);

In [ ]:
Insert into FactProductSales(SalesInvoiceNumber,StoreAltID,CustomerAltID,ProductID,
SalesPersonAltID,Quantity,ProductActualCost,SalesTotalCost,Deviation)values
--1-jan-2013
--SalesInvoiceNumber,StoreAltID,CustomerAltID,ProductID,SalesPersonAltID,Quantity,_
ProductActualCost,SalesTotalCost,Deviation)
(1,1,1,1,1,2,11,13,2),
(1,1,1,2,1,1,22.50,24,1.5),
(1,1,1,3,1,1,42,43.5,1.50);